extends layout

block content
  h1(class="section-title")="Reserva alojamientos y experiencia únicos"
  h2(class="section-subtitle")="Estos son los alojamientos que tenemos para ti"
  section(class="section-body")
    div(class="row")
      each place in places
        div(class="col-md-6 col-lg-4")
          div(class="card-item")
            div(class="card-item--image")
              a(href="#")
                img(src=place.cover)
            div(class="card-item--content")
              span(class="card-item--title")=place.name
            div(class="card-item--info")
              span(class="card-item--price")="$" + place.price + " MXN por noche"