doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title="Alojamientos, Alquileres vacacionales - Node Airbnb"
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    link(rel="shortcut icon", sizes="76x76", type="image/x-icon", href="/images/favicon.ico")
  body
    header(class="header")
      div(class="container-fluid")
        a(href="#", class="navbar-brand logotype")
          img(src="/images/logotype.png", width="45")
        ul(class="nav nav-custom justify-content-end")
          li(class="nav-item")
            a(class="nav-link active", href="#")="Iniciar sesión"
          li(class="nav-item")
            a(class="nav-link active", href="#")="Registrate"
    main(class="main")
      div(class="container")
        block content
    footer(class="footer")
      div(class="container")
        span="Node Airbnb Clone" 
